.link {
            width: 30px;
            height: 30px;
			text-decoration :  none;
            cursor: pointer;
            display: block;
            border-radius: 4px;
        }

        .link.selected:hover{
            background-color: green;;
        }
        
        .link.disabled{
            background-color: gray;
            pointer-events: auto;
            color: white;
            opacity: 0.6;
        }
        